body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf7e2;
    color: #263b20;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 30px;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    color: #2e7d32;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

#mensagem {
    font-weight: bold;
    color: #1b5e20;
    margin-top: 15px;
}

footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 15px;
}
